<h1 class="text-7xl mb-8">My favorites</h1>

<.link
  href={~p"/jokes/list/#{@list_id}"}
  target="_blank"
  class="text-[1.5rem] mb-4 block leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
>
  Open shareable link
</.link>

<%= for joke <- @list do %>
  <div class="mb-8">
    <p class="text-xl mb-2"><%= joke.value %></p>
  </div>
<% end %>

