<h1 class="text-7xl mb-8">Joke list</h1>
<%= for joke <- @list do %>
  <div class="mb-8">
    <p class="text-xl mb-2"><%= joke.value %></p>
    <button phx-click="add_to_favorites" phx-value-id={joke.id}>> add to favorites</button>
  </div>
<% end %>

